<div class="input-group">
<input type="text"
       class="form-control"
       ref="postcodeLookupContainer"
       tabindex="-1"
/>
    <span class="input-group-addon" style="cusror:pointer;text-transform: uppercase;">
        <i class="fa fa-search" ref="searchButton"></i>
    </span>
</div>


    <span class="col-form-label">Address 1</span>
    <input type="text" class="form-control" ref="address1"></input>
    <span class="col-form-label">Address 2</span>
    <input type="text" class="form-control" ref="address2"></input>
    <span class="col-form-label">Address 3</span>
    <input type="text" class="form-control" ref="address3"></input>
    <span class="col-form-label">City</span>
    <input type="text" class="form-control" ref="city"></input>
    <span class="col-form-label">Region</span>
    <input type="text" class="form-control" ref="region"></input>
    <span class="col-form-label">Country</span>
    <input type="text" class="form-control" ref="country"></input>
