<div>
    <div class="btn-group">
        {% ctx.values.forEach(function(item) { %}
            <button type="button" 
            class="btn btn-default form-radio-btn
            {% if(item.selected===true) { %}
                btn-primary
            {% } %}" 
            title="{{item.label}}" ref="buttonGroupItem" value="{{item.value}}" action="show" >{{item.label}}</button>
        {% }) %}
    </div>
</div>